<mat-toolbar class="toolbar">
  <div class="username">Hello, {{ userName }}! Let’s explore together.</div>
  <!-- <span style="color: aliceblue; height: 22px"><mat-icon>cable</mat-icon></span> -->
  <div class="spacer"></div>
  <a class="options" mat-button (click)="onSelect('friends')">Friends</a
  ><a class="options" mat-button (click)="onSelect('users')">Users</a
  ><a class="options" mat-button (click)="onSelect('aboutUs')">About us</a
  ><a class="options" mat-button (click)="onSelect('logout')"
    >Logout</a
  ></mat-toolbar
>
