.spacer {
  flex: 1 1 auto;
}
.toolbar {
  background-color: #68768a;
}
.username {
  color: aliceblue;
  font-size: 22px;
  padding: 8px;
  font-family: Helvetica;
  font-weight: bold;
}

.options {
  font-size: 16px;
  padding: 8px;
  font-family: Helvetica;
  font-weight: bold;
}
.mat-mdc-button {
  color: aqua;
}
